.blog__single__title{
  font-size: 30px;
}
.blog-single{
  @extend %container-narrow;
}
.blog-single__meta{
  font-size: 16px;
  color: var(--color-light);
  margin-top: space(1);
}
.blog-single__body {
  margin-top: space(3);
}

.blog-post {
  @extend %container-narrow;
}
.post__title{
  font-size: 28px;
}
.blog-post__meta{
  font-size: 14px;
  opacity: 0.8;
  display: flex;
}
