<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% apply striptags %}{% block title '' %}{% endapply %} | Linkmat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
  <meta name="turbolinks-cache-control" content="no-cache"/>
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('admin') }}
  {% endblock %}
  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('admin') }}
  {% endblock %}
</head>
<body class="admin">

<div class="dashboard-page">
{% include 'admin/partials/_sidebar.html.twig' %}
<main class="dashboard-body">
  {% block body '' %}
</main>

</div>
</body>
</html>
