// Conteneur
// ==================
:root {
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
}

// Container
// ==============
%container,
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

// Horizontal
// ==================
.flex {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 1370px) {
  :root {
    --container-width: 1330px;
  }
}
