.spotlight {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  justify-content: center;

}
.spotlight.active{
  opacity: 1;
  pointer-events: default;
  transition: .3s;
}
.spotlight-bar{
  position: relative;
  width: 400px;
  background: #fff;
  border-radius: 5px;
}

.spotlight-bar input{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.spotlight-suggestions li{
  list-style: none;
  margin: 0;
  padding: 0;
}

.spotlight-suggestions a {
  display: block;
  text-decoration:none;
  padding: 10px 15px;
  color: inherit;
}
