// Variables
// ==================
:root {
  --color-dark: #000;
  --color: #121c42;
  --color-light: #121c4299;
  --color-inversed: #effbec;
  --color-transparent: #{rgba(#121c42, 0)};
  --contrast: #4869ee;
  --contrast25: #4869ee3f;
  --gap: 20px;
  --space: 8px;
  --border: #d5e3ec;
  --border-light: #e6eff4;
  --background: #f7fafb;
  --background-light: #fff;
  --shadow: #d8e1e8;
}

body{
 // font-family: $font;
  font-size: 16px;
  color: var(--color);
  line-height: 1.6;
  background: var(--background);
  scroll-margin: 100px 0 0 0;
}
// Outils
// ==================
@import 'tools/reset';
@import 'tools/functions';
@import 'tools/mixins';
@import 'tools/layout';
@import 'tools/typography';
@import 'tools/animations';


@import 'modules/form';
@import "modules/table";
@import "modules/btn";
@import "modules/pagination";
@import "modules/card";
